*{
    padding: 0px;
    margin: 0px;
}
Header{
    background-color: rgb(21, 21, 160);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.MenuContent{
    display: flex;
    list-style: none;
    height: 50px;
    flex-wrap: wrap;
    
    
}
.logo{
    height: 50px;
}
.MenuContent li{
    color: rgb(221, 221, 5);
    padding: 20px;
}


@media(max-width:500px){
    .MenuContent{
        height: 100px;
        display: flex;
        justify-content: center;
    }   
}